header {
<<<<<<< HEAD
    height: 100vh;
    padding-top: 10rem;
    overflow: hidden;

}

.med {
    border-radius: 2rem;


}


.me img {
    border-radius: 40px;
}

=======
height: 100vh;
padding-top: 10rem;
overflow: hidden;

}

.med{
    border-radius: 2rem;
    

}
>>>>>>> d5e8989b43751948ca20f32dc84a0f2de99a7f6c
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
<<<<<<< HEAD

=======
>>>>>>> d5e8989b43751948ca20f32dc84a0f2de99a7f6c
.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;


}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


.me {
<<<<<<< HEAD
    background: linear-gradient(var(--color-primary), transparent);
=======
    background: linear-gradient(var(--color-primary),transparent);
>>>>>>> d5e8989b43751948ca20f32dc84a0f2de99a7f6c
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}


.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}